body {
    background: black;
    margin: 0;
    padding: 0;
    overflow: hidden;
}

form {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center; /* Center vertically */
    width: 80%;
    color: #00FF19;
    font-family: 'Courier New', Courier, serif;
    margin: 20% auto auto 8.5%; /* Adjust as needed */
    position: absolute;
    z-index: 20;
    font-size: 20px;
}

input[type="submit"] {
    display: none;

}

input[type="password"] {
    border: none;
    outline: none;
    background-color: black;
    color: #00FF19;
    width: 158px;
    margin-bottom: 10px;
    font-size: 25px; /* Set a fixed font size in pixels */
    margin: 10px 0; /* Add some space between the input and the text */
}


.access-granted {
    background-color: #00FF19;
    border: 2px solid #00FF19;
    padding: 15px;
    margin-top: 10px;
    text-align: center;
    opacity: 0;
    transition: opacity 1s ease-in-out;
}


.matrix-container {
    position: absolute;
    top: 0;
    left: 0;
    width: 100vw; /* Cover the entire viewport width */
    height: 100vh; /* Cover the entire viewport height */
    overflow: hidden;
}

#Matrix {
    opacity: 0.35;
    position: absolute;
    z-index: 10;
}
.div1 {
    text-align: center; /* Center the text */
    width: 100%; /* Take full width */
}

@media only screen and (max-width: 600px) {
    /* Adjust styles for smaller screens */
    body {
        margin: 0;
    }

    form {
        width: 50%;
        margin: 5% auto auto 2%;
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .div1 {
        text-align: center; /* Center the text */
        width: 50%; /* Take full width */
        margin: 30% auto auto 50%;
        font-size: 20px;


    }

    input[type="password"] {
        width: 40%; /* Adjust the width as needed */
        font-size: 10px; /* Set a fixed font size in pixels */
        margin: 10px 0; /* Add some space between the input and the text */
    }
    .access-granted{
        left:30%;
        top:50%;
    }
    

}
