body {
    background: black;
    color: #00FF19;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0;
    padding: 0;
    height: 100vh;
}

#container {
    width: 100%;
    max-width: 800px;
    text-align: center;
}

#loading-container, #video-container {
    margin-left: auto;
    margin-right: auto;
}

#progress-container {
    width: 80%;
    max-width: 400px;
    height: 30px;
    background-color: black;
    overflow: hidden;
    border: #00FF19;
    border-top: 100px;
    margin: 20px auto; /* Center the progress bar horizontally */
    transition: opacity 1s ease-in-out;
    opacity: 1;
}

#progress-bar {
    height: 100%;
    background-color: #00FF19;
    width: 0;
    text-align: center;
    line-height: 30px;
    color: white;
    font-family: 'Courier New', Courier, serif;
}

#text {
    font-family: 'Courier New', Courier, serif;
    opacity: 1;
    transition: opacity 1s ease-in-out;
}

video {
    transition: 0.5s;
    width: 100%;
    max-width: 800px;
    height: auto;
    margin-top: 20px;
}

.aa {
    color: #00FF19;
    font-family: 'Courier New', Courier, serif;
    margin-top: -10px;
    margin-bottom: 20px;
}

#loading-container {
    margin-top: 20px;
}