@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,400;0,500;0,700;1,400;1,700&display=swap');

html, body {
    height: 100%;
}

body {
    margin: 0;
    padding: 0;
    overflow-x: hidden;
}


.container {
    height: 100%;
}


.img{
width: 3000px;
height: 200%;
object-fit: cover; /* or "contain" based on your preference */



}
.title-page {
    display: flex;
    align-items: center;
    text-align: center;
    position: absolute;
    height: 100vh; /* Use viewport height for full-screen height */
    z-index: 0;

}

.title-page h1 {
    font-family: 'Poppins', sans-serif;
    font-size: 120px;
    font-weight: 800;
    margin: 0;
    position: absolute;
    z-index: 0;
    margin-top: -30px;
    margin-left: 250px;
    margin-right: auto;
    
    /* Apply gradient for the text */
    background: linear-gradient(-137deg, rgb(212, 200, 200) 50%, rgb(142, 33, 33) 50%);
    -webkit-background-clip: text;
    color: transparent;
    
}
.title-page h1:hover{
    cursor: pointer;

}


/* Your existing styles here */

        /* Additional styles for the menu */
        .menu {
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            padding: 80px;
            background-color: rgba(0, 0, 0, 0.5);
            color: white;
            z-index: 1000;
            opacity: 0;
            visibility: hidden;
            transform-origin: center center;
            transition: opacity 0.3s, visibility 0.3s;
            font-size: 20px;
            text-align: center;
            font-family: 'Poppins';
            font-weight: bold;
            letter-spacing: 2px;
            line-height: 30px;
            border-radius: 20px;

        }

        .menu.show {
            opacity: 1;
            visibility: visible;
        }

        .blurred-text {
            /* Add filter for text blur */
            filter: blur(2px);
        }

        .menu a {
            display: block;
            margin-bottom: 10px;
            color: white;
            text-decoration: none;
        }

        /* Style for the close button */
        .close-btn {
            position: absolute;
            top: 10px;
            right: 10px;
            cursor: pointer;
            color: white;
        }
        .side-box {
            position: absolute;
            top: 230px;
            bottom: 0;
            width: 0;
            height: 300px;
            background-color: rgba(0, 0, 0, 0.5);

            opacity: 0;
            transition: width 0.3s, opacity 0.3s;
            pointer-events: none;
            padding: 20px;
            z-index: 40;
            border-radius: 20px;
            max-width: 100%;
            box-sizing: border-box;

        }

        .left-box {
            left: 80px;
            height: 700px;
            top: 20px;
        }

        .right-box {
            right: 200px;
            font-family: 'Poppins',sans-serif;
            font-weight: bold;
            color:white;
            line-height: 30px;
            height: 240px;
            top:120px;
            margin-top: 50px;
        }
        .left-box img{
            width: 100%;
            height: 100%;
            border-radius: 10px;
        }
        .right-box1{
            height: 40px;

        }
                 /* Additional styles for the new right boxes */
        .right-box-1,
        .right-box-2,
        .right-box-3 {
            right: 0;
            background-color: rgba(0, 0, 0, 0.5);

        }

        .right-box-1 {
            top:390px;
            height: 10px;
            align-items: center;
            text-align: center;
            display: flex;
            right: 199px;
        }

        .right-box-2 {
            top:470px;
            right: 199px;
            display: flex;
            align-items: center;
            text-align: center;
            height: 10px;
            text-transform: capitalize;
        }

        .right-box-3 {
            top: 540px;
            right: 199px;
            height: 10px;
            display: flex;
            align-items: center;
            text-align: center;
        }
         /* Additional styles for the new left and right boxes */
        .extra-box-left,
        .extra-box-right {
            position: absolute;
            top: 344px;
            bottom: 0;
            width: 0;
            background-color: rgba(0, 0, 0, 0.5);
            opacity: 0;
            transition: width 0.3s, opacity 0.3s;
            pointer-events: none;
            border-radius: 10px;
            z-index: 40;
        }

        .extra-box-left {
            left: 273px;
            font-family: 'Poppins';
            font-weight: bold;
            display: flex;
            align-items: center;
            text-align: center;
            height: 290px;
            padding: 20px;
            justify-content: center;
            font-size: 25px;
            position: absolute;
            z-index: 30;


        }
        .extra-box-left a{
            color:white;
            text-decoration: none;
            font-size: 40px;
            font-family: s 'Poppins';

        }
        .extra-box-left a:hover {
            color: lightblue;
            text-decoration: underline;
        }

        .extra-box-right {
            right: 220px;
            display: flex;
            align-items: center;
            text-align: center;
            height: 70px;
            padding-top:20px ;
            padding-bottom: 20px;
            padding-left: 20px;
            color:white;
            justify-content: center;

        }
        .pass{
            font-family: 'Poppins';
            font-weight: bold;
            justify-content: center;
        }
          /* Additional styles for the new left and right ticket boxes */
          .ticket-box-left,
          .ticket-box-right {
            position: absolute;
            top: 230px;
            bottom: 0;
            width: 0;
            height: 300px;
            background-color: rgba(0, 0, 0, 0.5);

            opacity: 0;
            transition: width 0.3s, opacity 0.3s;
            pointer-events: none;
            padding: 20px;
            z-index: 40;
            border-radius: 20px;
            max-width: 100%;
            box-sizing: border-box;
          }
          
          .ticket-box-left {
              margin-left: 975px;
              text-align: center;
              display: flex;
              align-items: center;
              justify-content: center;
              margin-top: 120px;
              color: white; /* Full opacity for text */
              letter-spacing: 2px;
              font-size: 30px;
              font-family: 'Poppins';
              font-weight: bold;
              height: 100px;
          }
          
          .ticket-box-right {
              margin-left: 230px;
              margin-top: 120px;
              display: flex;
              align-items: center;
              justify-content: center;
              height: 100px;
              font-size: 30px;
              font-family: 'Poppins';
              font-weight: bold;
              color: white ; /* Full opacity for text */
              letter-spacing: 2px;
          }

.schedule-box-left,
.schedule-box-right {
    flex: 1; /* Use flex to distribute space */
    background-color: rgba(0, 0, 0, 0.5);
    opacity: 0;
    transition: width 0.3s, opacity 0.3s;
    pointer-events: none;
    height: 100px;
    z-index: 40;
    align-items: center;
    text-align: center;
    padding: 10px;
}



/* Adjust margin values based on your layout */
.schedule-box-left {
    margin-left: 975px;
    text-align: center;
    align-items: center;
    justify-content: center;
    color:white;
    letter-spacing: 2px;
    font-size: 30px;
    font-family: 'Poppins';
    font-weight: bold;
    height: 250px;

    

}

.schedule-box-right {
    margin-left: 250px;
    margin-top: 100px;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 40px;
    font-size: 30px;
    font-family: 'Poppins';
    font-weight: bold;
    color: white;
    letter-spacing: 2px;


}
.schedule-box-left div{
    margin-top: -220px;
}

.date1,.date2,.date3{
    margin-left: -160px;
    left:120;
    margin-right:150px;
    color: white;
}
.menu:hover{
    cursor: pointer;
}